.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-transform: uppercase;
  font-family: Courier,Courier New,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  letter-spacing: .17em;
  font-weight: 400;
}

.Wrk-merch-title {
  margin-top: 50px;
}

.App-link {
  /* margin-top: 40px; */
  color: #61dafb;
  text-transform: uppercase;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
